{% extends 'base.html.twig' %}

{% block title %}ProjectsCode index{% endblock %}

{% block body %}
    <h1>ProjectsCode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projects_code in projects_codes %}
            <tr>
                <td>{{ projects_code.id }}</td>
                <td>
                    <a href="{{ path('projects_code_show', {'id': projects_code.id}) }}">show</a>
                    <a href="{{ path('projects_code_edit', {'id': projects_code.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projects_code_new') }}">Create new</a>
{% endblock %}
