{% extends 'base.html.twig' %}

{% block title %}New DemoLink{% endblock %}

{% block body %}
    <h1>Create new DemoLink</h1>

    {{ include('demo_link/_form.html.twig') }}

    <a href="{{ path('demo_link_index') }}">back to list</a>
{% endblock %}
