{% extends 'base.html.twig' %}
 
{% block body %}
    <h1>Bienvenue {{ app.user.username }} !</h1>

    <p><a href="/projects">Liens vers les projets</a></p>
    <p><a href="/code/link">Liens vers les codes</a></p>
    <p><a href="/contexte">Liens vers les contextes</a></p>
    <p><a href="/demo/link">Liens vers les démos</a></p>
    <p><a href="/images">Liens vers les images</a></p>

{% endblock %}