{% extends 'base.html.twig' %}

{% block title %}Edit ProjectsDemo{% endblock %}

{% block body %}
    <h1>Edit ProjectsDemo</h1>

    {{ include('projects_demo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('projects_demo_index') }}">back to list</a>

    {{ include('projects_demo/_delete_form.html.twig') }}
{% endblock %}
