{% extends 'base.html.twig' %}

{% block title %}ProjectsDemo index{% endblock %}

{% block body %}
    <h1>ProjectsDemo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projects_demo in projects_demos %}
            <tr>
                <td>{{ projects_demo.id }}</td>
                <td>
                    <a href="{{ path('projects_demo_show', {'id': projects_demo.id}) }}">show</a>
                    <a href="{{ path('projects_demo_edit', {'id': projects_demo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projects_demo_new') }}">Create new</a>
{% endblock %}
