<form method="post" action="{{ path('projects_context_delete', {'id': projects_context.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projects_context.id) }}">
    <button class="btn">Delete</button>
</form>
