{% extends 'base.html.twig' %}

{% block title %}New ProjectsContext{% endblock %}

{% block body %}
    <h1>Create new ProjectsContext</h1>

    {{ include('projects_context/_form.html.twig') }}

    <a href="{{ path('projects_context_index') }}">back to list</a>
{% endblock %}
