{% extends 'base.html.twig' %}

{% block title %}ProjectsContext{% endblock %}

{% block body %}
    <h1>ProjectsContext</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projects_context.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('projects_context_index') }}">back to list</a>

    <a href="{{ path('projects_context_edit', {'id': projects_context.id}) }}">edit</a>

    {{ include('projects_context/_delete_form.html.twig') }}
{% endblock %}
