{% extends 'base.html.twig' %}

{% block title %}Edit ProjectsImages{% endblock %}

{% block body %}
    <h1>Edit ProjectsImages</h1>

    {{ include('projects_images/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('projects_images_index') }}">back to list</a>

    {{ include('projects_images/_delete_form.html.twig') }}
{% endblock %}
