{% extends 'base.html.twig' %}

{% block title %}ProjectsImages index{% endblock %}

{% block body %}
    <h1>ProjectsImages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projects_image in projects_images %}
            <tr>
                <td>{{ projects_image.id }}</td>
                <td>
                    <a href="{{ path('projects_images_show', {'id': projects_image.id}) }}">show</a>
                    <a href="{{ path('projects_images_edit', {'id': projects_image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projects_images_new') }}">Create new</a>
{% endblock %}
